menu "XPT2046 Settings"

config XPT2046_MISO
	int "XPT2046 MISO Pin"
	default 19
	range 0 39

config XPT2046_MOSI
	int "XPT2046 MOSI Pin"
	default 23
	range 0 39

config XPT2046_SCK
	int "XPT2046 SCK Pin"
	default 18
	range 0 39

config XPT2046_CS
	int "XPT2046 CS Pin"
	default 12
	range 0 39

config XPT2046_IRQ
	int "XPT2046 IRQ Pin"
	default 13 
	range 0 39

endmenu
