menu "ILI9341 Settings"

config ILI9341_MISO
	int "ILI9341 MISO Pin"
	default 19
	range 0 39

config ILI9341_MOSI
	int "ILI9341 MOSI Pin"
	default 23
	range 0 39

config ILI9341_SCK
	int "ILI9341 SCK Pin"
	default 18
	range 0 39

config ILI9341_CS
	int "ILI9341 CS Pin"
	default 26
	range 0 39

config ILI9341_DC
	int "ILI9341 DC Pin"
	default 27
	range 0 39

config ILI9341_BCKL
	int "ILI9341 Backlight Pin"
	default GPIO_NUM_NC
	range -1 39

config ILI9341_RESET
	int "ILI9341 Reset Pin"
	default 14
	range 0 39

endmenu
