menu "Dust Sensor Configuration"


config DUSTSENSOR_LED_PIN 
    int "Dust sensor led pin"
    range 0 34
    default 26
    help
        "The dust sensor LED pin"

choice DUSTSENSOR_ADC_UNIT 
	prompt "Sets the ADC unit to use (ADC1 or ADC2). For the dust sensor, we only use channel 0"

	config DUSTSENSOR_USE_ADC1
		bool "ADC1"

	config DUSTSENSOR_USE_ADC2
		bool "ADC2"

endchoice

endmenu
