menu "LVGL Driver Settings"
config LVGL_ENABLE
default y
help 
	"Select this one to enable LVGL component"

menu "ILI9341 Settings"
depends on LVGL_ENABLE

config ILI9341_CS
	int "ILI9341 CS Pin"
	default 26
	range 0 39

config ILI9341_DC
	int "ILI9341 DC Pin"
	default 27
	range 0 39

config ILI9341_BCKL
	int "ILI9341 Backlight Pin"
	default -1
	range -1 39

config ILI9341_RESET
	int "ILI9341 Reset Pin"
	default 14
	range 0 39

endmenu

menu "XPT2046 Settings"
depends on LVGL_ENABLE

config XPT2046_CS
	int "XPT2046 CS Pin"
	default 12
	range 0 39

config XPT2046_IRQ
	int "XPT2046 IRQ Pin"
	default 13 
	range 0 39

endmenu

endmenu


